script(type='text/ng-template', id='voting')

  //- pre.row {{ works | json }}

  .row
    h1.col-xs-12.col-sm-10.col-sm-offset-1.text-center
      b Tuleviku õpperuum 2050
      br
      | hääletus

  .row(ng-repeat-start='(category, c) in categories')
    h2.col-xs-12 {{ category }}

  .row.work(ng-repeat-end, ng-repeat='work in works | filter:{category:category} | orderBy:title')
    .col-xs-12
      button.col-xs-1.btn.btn-default.btn-lg +1

      .col-xs-11
        h3
          a.col-xs-12(href="{{ work.url }}", target="_blank") {{ work.title }}
        .col-xs-12 {{ work.author }} - {{ work.organization }}
